@model IEnumerable<BookstoreApp.Models.Book>
<h2>Book List</h2>
<a href="/Book/Add">Add Book</a>
<table>
  <tr>
    <th>Title</th><th>Author</th><th>Price</th><th>Actions</th>
  </tr>
  @foreach (var book in Model) {
    <tr>
      <td>@book.Title</td>
      <td>@book.Author</td>
      <td>@book.Price</td>
      <td>
        <a href="/Book/Edit/@book.Id">Edit</a> |
        <a href="/Book/Delete/@book.Id">Delete</a>
      </td>
    </tr>
  }
</table>
