@* @{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Index Page</h2>
<p>Session values have been set!</p>

<p>
    <a href="/Home/About">Go to About Page to see session data</a>
</p> *@

@{
    ViewData["Title"] = "Product Index";
}

<h2>Welcome to the Product Index Page</h2>
<p>This is the default product listing page.</p>
<a href="/products/List">See Product List</a>


